span.spec-paragraph-id {
    display: block;
    font-size: 0.8em;
    line-height: 1em;
}

pre.spec-syntax {
    color: #222;
}

pre.spec-syntax code {
    background-color: transparent;
}

pre.spec-syntax a code, pre.spec-syntax a:hover {
    font-weight: 400;
    color: #00f;
}

pre.spec-syntax .spec-syntax-literal {
    background: #ddd;
}
