# SPDX-License-Identifier: MIT OR Apache-2.0
# SPDX-FileCopyrightText: The Ferrocene Developers

# Gate PRs on the `full` CircleCI workflow
status = ["full"]

# Wait until the `commit` GHA workflow passes before queueing a PR
pr_status = ["Checks"]

# Consider the build as failed if it takes more than four hours to finish
# A normal build should take less, but there are slower parts of the build that
# are only ran occasionally.
timeout_sec = 144000

# When someone queues a PR that has pending PR status checks, bors will wait
# for those checks to be green before queueing the PR. This defines how long
# bors will wait before erroring out.
prerun_timeout_sec = 3600

# Require at least 1 up to date approval before allowing `bors r+`
required_approvals = 1
up_to_date_approvals = true

# Remove the personal branches after they're merged
delete_merged_branches = true
