# SPDX-License-Identifier: MIT OR Apache-2.0
# SPDX-FileCopyrightText: The Ferrocene Developers

# Gate PRs on the `full` CircleCI workflow
status = ["full"]

# Wait until the `commit` GHA workflow passes before queueing a PR
pr_status = ["Checks", "Tidy"]

# Consider the build as failed if it takes more than five hours to finish
# A normal build should take less, but there are slower parts of the build that
# are only ran occasionally.
timeout_sec = 18000

# When someone queues a PR that has pending PR status checks, bors will wait
# for those checks to be green before queueing the PR. This defines how long
# bors will wait before erroring out.
prerun_timeout_sec = 3600

# We intentionally do not require an approval in the bors config before merging.
# Some PRs, such as backports, are machine-generated but still opened by an individual.
# Requiring an approval would prevent them from being self-approved.
# See https://public-docs.ferrocene.dev/main/qualification/plan/development.html#merge-requirements:~:text=machine%2Dgenerated for more information.

# Remove the personal branches after they're merged
delete_merged_branches = true
