# SPDX-License-Identifier: MIT OR Apache-2.0
# SPDX-FileCopyrightText: Critical Section GmbH

sphinx
sphinx-autobuild

# Sphinx dependencies used for compatibility with Python 3.6. They're not
# installed by default when running pip-tools on newer systems because they're
# only pulled in by pip when an older Python version is used.
importlib-metadata < 4.9
zipp < 3.7
typing-extensions < 4.2
