CT_CONFIG_VERSION="4"
CT_OBSOLETE=y
CT_PARALLEL_JOBS=4
CT_LOAD="8"
CT_EXTRA_CFLAGS_FOR_HOST="-fno-char8_t"
CT_EXTRA_LDFLAGS_FOR_HOST="-fno-char8_t"
CT_ARCH_ARM=y
CT_ARCH_64=y
CT_TARGET_VENDOR=""
CT_KERNEL_LINUX=y
CT_LINUX_V_3_10=y
CT_BINUTILS_V_2_46=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_17=y
CT_CREATE_LDSO_CONF=y
CT_CC_GCC_LIBSANITIZER=m
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
CT_COMP_TOOLS_MAKE=y
CT_MAKE_GNUMAKE_SYMLINK=y
CT_GLIBC_EXTRA_CFLAGS="-Wno-missing-attributes -Wno-array-bounds -Wno-array-parameter -Wno-stringop-overflow -Wno-maybe-uninitialized -Wno-implicit-int"
CT_OMIT_TARGET_VENDOR=y