# SPDX-License-Identifier: MIT OR Apache-2.0
# SPDX-FileCopyrightText: The Ferrocene Developers
CT_CONFIG_VERSION="4"
CT_PARALLEL_JOBS=4
CT_LOAD="8"
CT_EXTRA_CFLAGS_FOR_HOST="-fno-char8_t"
CT_EXTRA_LDFLAGS_FOR_HOST="-fno-char8_t"
CT_OBSOLETE=y
CT_ARCH_X86=y
CT_ARCH_64=y
CT_KERNEL_LINUX=y
CT_LINUX_V_3_10=y
# CT_KERNEL_LINUX_INSTALL_CHECK is not set
CT_BINUTILS_V_2_46=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_17=y
CT_GLIBC_EXTRA_CFLAGS="-Wno-implicit-int"
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--enable-multiarch --enable-libstdcxx-backtrace=yes --with-pic"
# CT_CC_GCC_ENABLE_DEFAULT_PIE is not set
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_LIBQUADMATH=y
CT_CC_GCC_LIBSANITIZER=y
CT_CC_GCC_BUILD_ID=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
# CT_GDB_CROSS is not set
CT_GDB_NATIVE_BUILD_IPA_LIB=y
CT_GDB_NATIVE_STATIC_LIBSTDCXX=y
CT_GMP_EXTRA_CFLAGS="-std=gnu11"
CT_NCURSES_EXTRA_CFLAGS="-std=gnu11"