# SPDX-License-Identifier: MIT OR Apache-2.0
# SPDX-FileCopyrightText: The Rust Project Developers

# Instruct linguist not to ignore the main content
# https://github.com/github-linguist/linguist/blob/master/docs/overrides.md
src/*.rst text linguist-detectable
