# SPDX-License-Identifier: MIT OR Apache-2.0
# SPDX-FileCopyrightText: The Ferrocene Developers

[["tests/run-make"]]
tests = [
    "tests/run-coverage",
    "tests/run-coverage-rustdoc",
]
targets = ["aarch64-unknown-linux-gnu"]
reason = "The tests generates profraw files to analyze, but remote-test is not capable of pushing those files back to the client yet"

[["tests/run-make"]]
tests = [
    "tests/run-make/sanitizer-cdylib-link",
    "tests/run-make/sanitizer-dylib-link",
    "tests/run-make/sanitizer-staticlib-link"
]
targets = ["aarch64-unknown-linux-gnu"]
reason = "QEMU user space emulation doesn't support most sanitizers"

[["tests/ui"]]
tests = [
    "tests/ui/process/no-stdio.rs",
    "tests/ui/process/nofile-limit.rs",
]
targets = ["aarch64-unknown-ferrocenecoretest", "thumbv7em-ferrocenecoretest-eabi", "thumbv7em-ferrocenecoretest-eabihf"]
reason = "QEMU user space emulation behaves differently when spawning processes fails"

[["tests/ui"]]
tests = [
    "tests/ui/extern/extern-types-field-offset.rs",
    "tests/ui/extern/extern-types-size_of_val.rs",
    "tests/ui/hygiene/panic-location.rs",
    "tests/ui/intrinsics/const-eval-select-backtrace-std.rs",
    "tests/ui/intrinsics/const-eval-select-backtrace.rs",
    "tests/ui/lto/issue-105637.rs",
    "tests/ui/macros/assert-long-condition.rs",
    "tests/ui/panics/fmt-only-once.rs",
    "tests/ui/panics/location-detail-panic-no-column.rs",
    "tests/ui/panics/location-detail-panic-no-file.rs",
    "tests/ui/panics/location-detail-panic-no-line.rs",
    "tests/ui/panics/location-detail-panic-no-location-info.rs",
    "tests/ui/panics/location-detail-unwrap-no-file.rs",
    "tests/ui/panics/panic-in-message-fmt.rs",
    "tests/ui/process/println-with-broken-pipe.rs",
    "tests/ui/test-attrs/test-panic-abort-nocapture.rs",
    "tests/ui/test-attrs/test-panic-abort.rs",
]
targets = ["aarch64-unknown-ferrocenecoretest", "thumbv7em-ferrocenecoretest-eabi", "thumbv7em-ferrocenecoretest-eabihf"]
reason = "QEMU user space emulation outputs an extra message when an abort happens"

[["tests/debuginfo"]]
tests = ["tests/debuginfo/basic-types.rs", "tests/debuginfo/basic-types-metadata.rs", "tests/debuginfo/basic-types-globals-metadata.rs"]
targets = ["x86_64-unknown-linux-gnu"]
reason = "The tests do not pass on CI, to be revisited later. https://github.com/rust-lang/rust/pull/128913"

[["tests/debuginfo"]]
tests = ["tests/debuginfo/basic-types-mut-globals.rs"]
targets = ["x86_64-unknown-linux-gnu"]
reason = "The test does not pass on CI, to be revisited later. https://github.com/rust-lang/rust/pull/127001#discussion_r1666568648"

[["tests/debuginfo"]]
tests = ["tests/debuginfo"]
targets = ["aarch64-unknown-ferrocenecoretest", "thumbv7em-ferrocenecoretest-eabi", "thumbv7em-ferrocenecoretest-eabihf"]
reason = "Running these tests require changes to bootstrap"

[["tests/run-make"]]
tests = [
    "tests/run-make/cat-and-grep-sanity-check",
    "tests/run-make/ferrocene/compiler-arguments/out-dir",
    "tests/run-make/ferrocene/compiler-arguments/upper-l/upper-l",
    "tests/run-make/ferrocene/compiler-arguments/upper-l/upper-l_all",
    "tests/run-make/ferrocene/compiler-arguments/upper-l/upper-l_crate",
    "tests/run-make/ferrocene/compiler-arguments/upper-l/upper-l_native",
    "tests/run-make/ferrocene/compiler-arguments/upper-l/upper-l_dependency",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_debuginfo/upper_c_debuginfo_multiple",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_extra-filename/upper_c_extra-filename",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_extra-filename/upper_c_extra-filename_mir",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_metadata/upper_c_metadata",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_no-vectorize-loops/upper_c_no-vectorize-loops_no-space",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_relocation-model/upper_c_relocation-model_default",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_relocation-model/upper_c_relocation-model_pie",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_relocation-model/upper_c_relocation-model_pic",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_relocation-model/upper_c_relocation-model_static",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_rpath/upper_c_rpath",
    "tests/run-make/ferrocene/compiler-arguments/upper_c_rpath/upper_c_rpath_link_arg",
]
targets = ["x86_64-pc-windows-msvc"]
reason = "Windows make support is very poor, these tests should be converted to rmake.rs tests"

[["tests/run-make"]]
tests = [
    "tests/run-make/pdb-buildinfo-cl-cmd",
    "tests/run-make/pdb-sobjname",
]
targets = ["x86_64-pc-windows-msvc"]
reason = "Not compatible with the Windows verison the Ferrocene CI uses"

[["tests/ui"]]
tests = [
    "tests/ui/ferrocene/compiler-arguments/color/color_always.rs",
    "tests/ui/ferrocene/compiler-arguments/json/json_diagnostic-rendered-ansi.rs",
]
targets = ["x86_64-pc-windows-msvc"]
reason = "Windows has different line endings and escape codes"

[["tests/ui"]]
tests = [
    "tests/ui/ferrocene/compiler-arguments/upper_c_linker-flavor/upper_c_linker-flavor_eq.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_linker-flavor/upper_c_linker-flavor_repeat.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_linker-flavor/upper_c_linker-flavor_space-eq.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_linker/upper_c_linker_eq-invalid.rs",
]
targets = ["x86_64-pc-windows-msvc"]
reason = "We do not support GCC on Windows"

[["tests/ui"]]
tests = [
    "tests/ui/ferrocene/compiler-arguments/upper_c_linker-flavor/upper_c_linker-flavor_eq.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_linker-flavor/upper_c_linker-flavor_repeat.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_linker-flavor/upper_c_linker-flavor_space-eq.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_linker/upper_c_linker_eq-invalid.rs",
]
targets = ["x86_64-pc-windows-msvc"]
reason = "gcc is not supported in this platform"
