# SPDX-License-Identifier: MIT OR Apache-2.0
# SPDX-FileCopyrightText: The Ferrocene Developers

[["tests/codegen-llvm"]]
tests = [
    "tests/codegen-llvm/enum/enum-match.rs",
    "tests/codegen-llvm/enum/enum-transparent-extract.rs",
]
targets = ["aarch64-unknown-ferrocene.facade"]
reason = "TODO: to be investigated"

[["tests/ui"]]
tests = [
    "tests/ui/symbol-names/verbose.rs",
    "tests/ui/type/issue-94187-verbose-type-name.rs",
]
targets = ["aarch64-apple-darwin",]
reason = "TODO: to be investigated"

[["tests/crashes"]]
tests = [
    "tests/crashes/120175.rs",
]
targets = ["aarch64-apple-darwin",]
reason = "This test is fixed on upstream as of 7db184056909045802a66299947dc81c8e43e605"

[["tests/run-make"]]
tests = [
    "tests/run-coverage",
    "tests/run-coverage-rustdoc",
]
targets = ["aarch64-unknown-linux-gnu"]
reason = "The tests generates profraw files to analyze, but remote-test is not capable of pushing those files back to the client yet"

[["tests/run-make"]]
tests = [
    "tests/run-make/sanitizer-cdylib-link",
    "tests/run-make/sanitizer-dylib-link",
    "tests/run-make/sanitizer-staticlib-link"
]
targets = ["aarch64-unknown-linux-gnu"]
reason = "QEMU user space emulation doesn't support most sanitizers"

[["tests/run-make"]]
tests = [
    "tests/run-make/c-link-to-rust-va-list-fn",
]
targets = ["thumbv7em-ferrocene.facade-eabi", "thumbv7em-ferrocene.facade-eabihf"]
reason = "<assert.h> is not available for inclusion on this platform"

[["tests/run-make"]]
tests = [
    "tests/run-make/c-link-to-rust-va-list-fn",
]
targets = ["aarch64-unknown-nto-qnx710", "x86_64-pc-nto-qnx710"]
reason = "Fails with linker errors on `-lpthread`, `-ldl`, and `-lrt`"

[["tests/run-make"]]
tests = [
    "tests/run-make/c-link-to-rust-va-list-fn",
]
targets = ["aarch64-unknown-ferrocene.facade"]
reason = "libcheckrust includes symbols which cannot be used without `-fPIC` on this platform"

[["tests/ui"]]
tests = [
    "tests/ui/command/command-argv0.rs",
]
targets = ["aarch64-unknown-ferrocene.facade", "thumbv7em-ferrocene.facade-eabi", "thumbv7em-ferrocene.facade-eabihf"]
reason = "QEMU user space emulation behaves differently with argv0"

[["tests/ui"]]
tests = [
    "tests/ui/process/no-stdio.rs",
    "tests/ui/process/nofile-limit.rs",
]
targets = ["aarch64-unknown-ferrocene.facade", "thumbv7em-ferrocene.facade-eabi", "thumbv7em-ferrocene.facade-eabihf"]
reason = "QEMU user space emulation behaves differently when spawning processes fails"

[["tests/ui"]]
tests = [
    "tests/ui/extern/extern-types-field-offset.rs",
    "tests/ui/extern/extern-types-size_of_val.rs",
    "tests/ui/hygiene/panic-location.rs",
    "tests/ui/intrinsics/const-eval-select-backtrace-std.rs",
    "tests/ui/intrinsics/const-eval-select-backtrace.rs",
    "tests/ui/lto/issue-105637.rs",
    "tests/ui/macros/assert-long-condition.rs",
    "tests/ui/panics/fmt-only-once.rs",
    "tests/ui/panics/location-detail-panic-no-column.rs",
    "tests/ui/panics/location-detail-panic-no-file.rs",
    "tests/ui/panics/location-detail-panic-no-line.rs",
    "tests/ui/panics/location-detail-panic-no-location-info.rs",
    "tests/ui/panics/location-detail-unwrap-no-file.rs",
    "tests/ui/panics/panic-in-message-fmt.rs",
    "tests/ui/process/println-with-broken-pipe.rs",
    "tests/ui/test-attrs/test-panic-abort-nocapture.rs",
    "tests/ui/test-attrs/test-panic-abort.rs",
]
targets = ["aarch64-unknown-ferrocene.facade", "thumbv7em-ferrocene.facade-eabi", "thumbv7em-ferrocene.facade-eabihf"]
reason = "QEMU user space emulation outputs an extra message when an abort happens"

[["tests/debuginfo"]]
tests = ["tests/debuginfo/basic-types.rs", "tests/debuginfo/basic-types-metadata.rs", "tests/debuginfo/basic-types-globals-metadata.rs"]
targets = ["x86_64-unknown-linux-gnu"]
reason = "The tests do not pass on CI, to be revisited later. https://github.com/rust-lang/rust/pull/128913"

[["tests/debuginfo"]]
tests = ["tests/debuginfo/basic-types-mut-globals.rs"]
targets = ["x86_64-unknown-linux-gnu"]
reason = "The test does not pass on CI, to be revisited later. https://github.com/rust-lang/rust/pull/127001#discussion_r1666568648"

[["tests/debuginfo"]]
tests = ["tests/debuginfo"]
targets = ["aarch64-unknown-ferrocene.facade", "thumbv7em-ferrocene.facade-eabi", "thumbv7em-ferrocene.facade-eabihf"]
reason = "Running these tests require changes to bootstrap"

[["tests/ui"]]
tests = [
    "tests/ui/ferrocene/compiler-arguments/upper_c_target-feature/upper_c_target-feature_comma-add-and-remove-same-flag.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_target-feature/upper_c_target-feature_comma-minus-minus-plus.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_target-feature/upper_c_target-feature_comma-plus-plus-minus.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_target-feature/upper_c_target-feature_space-eq.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_target-feature/upper_c_target-feature_comma-same-flag-many-times.rs",
    "tests/ui/ferrocene/compiler-arguments/upper_c_target-feature/upper_c_target-feature_eq.rs",
]
targets = ["aarch64-unknown-ferrocene.facade", "thumbv7em-ferrocene.facade-eabi", "thumbv7em-ferrocene.facade-eabihf"]
reason = "Currently output of these tests experiences multiple stdout writers colliding to create unreproducible results"

[["tests/ui"]]
tests = [
    "tests/ui/alloc-error/alloc-error-backtrace.rs"
]
targets = ["aarch64-unknown-ferrocene.facade", "thumbv7em-ferrocene.facade-eabi", "thumbv7em-ferrocene.facade-eabihf"]
reason = "These targets cannot unwind"
