{# SPDX-License-Identifier: MIT OR Apache-2.0 #}
{# SPDX-FileCopyrightText: The Ferrocene Developers #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Traceability matrix report</title>
        <style>{% include "style.css" %}</style>
    </head>
    <body>
        <header>
            <h1>Traceability matrix report</h1>
            <a href="../index.html">Go back to the documentation index</a>
        </header>

        {% if !considers_ignored_tests %}
        <div class="top-error">
            This traceability matrix does not take into account ignored tests.
            Set <code>ferrocene.test-outcomes</code> in <code>config.toml</code>
            to address this.
        </div>
        {% endif %}

        <table>
            <thead>
                <tr>
                    <th colspan="2"></th>
                    {% for kind in summary[0].kinds %}
                        <th colspan="4">{{ kind.kind.plural|capitalize }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th></th>
                    <th>Page</th>
                    {% for _ in summary[0].kinds %}
                        <th>Linked #</th>
                        <th>Informational #</th>
                        <th>Total #</th>
                        <th>Completion</th>
                    {% endfor %}
                </tr>
            </tbody>
            <tbody>
                {% for row in summary %}
                    <tr>
                        <td><div class="circle {{ row.color() }}"</div></td>
                        <td>
                            {% match row.page %}
                                {% when Some with (page) %}
                                    {% call page_link(page) %}
                                {% when None %}
                                    <b>Total:</b>
                            {% endmatch %}
                        </td>
                        {% for kind in row.kinds %}
                            {% if kind.total == 0 %}
                                <td colspan="4"></td>
                            {% else %}
                                <td>{{ kind.linked }}</td>
                                <td>{{ kind.informational }}</td>
                                <td>{{ kind.total }}</td>
                                <td>{{ kind.percentage|fmt("{:.2}") }}%</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if !matrix.unknown_annotations.is_empty() %}
            <h2>Unknown annotations</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Annotation</th>
                        <th>Test</th>
                    </tr>
                </thead>
                <tbody>
                    {% for annotation in matrix.unknown_annotations %}
                        <tr id="{{ annotation.annotation }}">
                            <td><div class="circle red"></div></td>
                            <td><code>{{ annotation.annotation }}</code></td>
                            <td>{% call file_link(annotation.file) %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% for analysis in matrix.analyses_by_kind() %}
            <h2>All {{ analysis.kind.plural }}</h2>
            {% if analysis.informational_count() > 0 %}
                <p>{{ analysis.informational_count() }} informational {{ analysis.kind.plural }} are not included in this table.</p>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Page</th>
                        <th>{{ analysis.kind.singular|capitalize }}</th>
                        <th>ID</th>
                        <th>Test(s)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in analysis.unlinked %}
                        <tr id="{{ element.id }}">
                            <td><div class="circle red"></div></td>
                            <td>{% call page_link(element.page) %}</td>
                            <td>{% call element_link(element) %}</td>
                            <td>{% call element_id(element) %}</td>
                            <td>-</td>
                        </tr>
                    {% endfor %}
                    {% for link in analysis.partially_linked %}
                        {% call row_with_tests("orange", link) %}
                    {% endfor %}
                    {% for link in analysis.linked %}
                        {% call row_with_tests("green", link) %}
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}

        {% if !ignored_tests.is_empty() %}
            <h2>Ignored tests</h2>
            <p>
                These tests contain annotations linking them to one or more
                elements in this traceability matrix, but are never executed by
                our CI. Because of that, they have not been considered while
                building the matrix. The rationale for each test being ignored
                is present in the Qualification Report.
            </p>

            <ul>
            {% for (name, tests) in ignored_tests %}
                <li><a href="{{ urls.src }}/{{ name }}">{{ name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}

        <div class="popup-message hidden" id="annotation-copied-popup">
            Annotation copied to the clipboard!
        </div>

        <script type="text/javascript">{% include "report.js" %}</script>
    </body>
</html>

{%- macro row_with_tests(color, link) -%}
    {% if !link.informational() %}
    <tr id="{{ link.element.id }}">
        <td><div class="circle {{ color }}"></div></td>
        <td>{% call page_link(link.element.page) %}</td>
        <td>{% call element_link(link.element) %}</td>
        <td>{% call element_id(link) %}</td>
        <td>
            {% if link.tests.len() > 1 %}
                <details><summary>show {{ link.tests.len() }} linked tests</summary>
            {% endif %}
            {% if !link.untested_targets.is_empty() %}
                untested targets:
                {% for target in link.untested_targets %}
                {{ target }}
                {% endfor %}
            {% endif %}
            <ul>
                {% for test in link.tests %}
                    <li>
                    {% match test %}
                        {% when LinkTest::File with (file) %}
                            {% call file_link(file) %}
                        {% when LinkTest::Informational %}
                            informational
                        {% when LinkTest::NoParagraphsInSection %}
                            no paragraphs within
                    {% endmatch %}
                    </li>
                {% endfor %}
            </ul>
            {% if link.tests.len() > 1 %}
                </details>
            {% endif %}
        </td>
    </tr>
    {% endif %}
{%- endmacro -%}

{%- macro page_link(page) -%}
<a href="{{ page.link }}">{{ page.documentation }}: {{ page.name }}</a>
{%- endmacro -%}

{%- macro element_id(element) -%}
<code {% match element.title -%}
    {%- when Some with (title) -%}
        {%- if element.kind.include_title_when_copying -%}
        data-copy-title="{{ title }}"
        {%- endif -%}
    {%- when None -%}
{%- endmatch %} class="copiable">{{ element.id }}</code>
{%- endmacro -%}

{%- macro element_link(element) -%}
<a href="{{ element.link }}">
    {{ element.name() }}
</a>
{%- endmacro -%}

{%- macro file_link(file) -%}
<a href="{{ urls.src }}/{{ file.test.display() }}">{{ file.test.display() }}</a>
{% if !file.targets.ignored.0.is_empty() %}
    (targets: {{ file.targets.executed }})
{% endif %}
{% match file.source %}
    {% when AnnotationSource::TestItself %}
    {% when AnnotationSource::Makefile %}
    (annotated in its <a href="{{ urls.src }}/{{ file.test.display() }}/Makefile">Makefile</a>)
    {% when AnnotationSource::Rmake %}
    (annotated in its <a href="{{ urls.src }}/{{ file.test.display() }}/rmake.rs">rmake.rs</a>)
    {% when AnnotationSource::ParentDirectory with { bulk_file } %}
    (annotated in its <a href="{{ urls.src }}/{{ bulk_file.display() }}">parent directory</a>)
{% endmatch %}
{%- endmacro -%}
