CT_CONFIG_VERSION="4"
CT_PREFIX_DIR="/x-tools/${CT_TARGET}"
CT_ARCH_X86=y
CT_ARCH_64=y
CT_KERNEL_LINUX=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_KERNEL_VERSION_NONE=y
CT_CC_GCC_LNK_HASH_STYLE_BOTH=y
CT_CC_LANG_CXX=y
CT_COMP_LIBS_EXPAT=y
