# SPDX-License-Identifier: MIT OR Apache-2.0
# SPDX-FileCopyrightText: The Ferrocene Developers

---

name: Automatic upstream pull
on:
  # Run from Monday to Friday at 5:00 UTC
  schedule:
    - cron: '0 5 * * 1-5'
  # Allow to run this manually from the GitHub UI
  workflow_dispatch:
    inputs:
      max_merges_per_pr:
        description: Max number of PRs to be included
        type: number
        default: 30
        required: true
      beta:
        description: Pull from upstream's beta branch
        type: boolean
        default: true
      master:
        description: Pull from upstream's master branch
        type: boolean
        default: true
      stable:
        description: Pull from upstream's stable branch
        type: boolean
        default: true

permissions:
  pull-requests: write
  issues: write
  # Pushes are done by the GitHub app, to be able to trigger workflows.
  # Marking this as `read` rather than `write` so that pushes accidentally
  # using the builtin token rather than the app will fail loudly.
  contents: read

jobs:
  define-matrix:
    runs-on: ubuntu-latest

    outputs:
      branches: ${{ steps.define-branches.outputs.branches }}

    steps:
      - name: Define branches
        id: define-branches
        run: |
          inputs='${{ toJson(github.event.inputs) }}'
          branches=("master" "beta" "stable")
          selected_branches=()

          for branch in "${branches[@]}"; do
            value=$(echo $inputs | jq -r ".$branch")
            if [[ "$value" == "true" ]]; then
              selected_branches+=("\"$branch\"")
            fi
          done

          selected_branches=$(echo "${selected_branches[*]}" | tr ' ' ',' )

          echo "branches=[$selected_branches]" >> "$GITHUB_OUTPUT"

  run:
    name: ${{ matrix.branch }}
    needs: [define-matrix]
    runs-on: ubuntu-latest
    environment: automations

    strategy:
      fail-fast: false
      matrix:
        branch: ${{ fromJSON(needs.define-matrix.outputs.branches) }}

    steps:
      - name: Checkout the Ferrocene repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all the history

      - name: Setup Ubuntu
        run: ferrocene/ci/scripts/setup-ubuntu.sh

      - name: Configure git authorship information
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      # The builtin GitHub token doesn't have the "workflows" permissions, and
      # so it can't create new branches with the .github/workflows directory in
      # them, or push commits changing files in that directory.
      #
      # Another limitation of the builtin GitHub token is that commits pushed
      # through it don't start other GitHub Actions workflows, to prevent
      # accidental infinte loops. Still, that's not acceptable for us, as we
      # need to run CI on commits produced by this automation.
      #
      # To work around both problems we're using a fresh token from an ad-hoc
      # GitHub App with access to push content to this repo.
      - name: Authenticate with GitHub to create branches
        id: auth # The script sets the output `token`
        run: ferrocene/ci/scripts/github_app_auth.py --set-git-credentials
        env:
          APP_ID: "${{ vars.AUTOMATIONS_APP_ID }}"
          APP_PRIVATE_KEY: "${{ secrets.AUTOMATIONS_APP_PRIVATE_KEY }}"

      - name: Create the release branch if missing
        run: ferrocene/tools/pull-upstream/create-release-branch.sh ${{ matrix.branch }}
        if: matrix.branch != 'master'
        id: create_branch

      - name: Clone a subset of the LLVM submodule rather than the whole thing
        run: ferrocene/ci/scripts/clone-llvm-subset.sh

      - name: Run the pull-upstream automation
        run: python3 ferrocene/tools/pull-upstream/automation.py ${{ matrix.branch }} ${{ steps.create_branch.outputs.name || 'main' }}
        env:
          GITHUB_TOKEN: "${{ steps.auth.outputs.token }}"
          MAX_MERGES_PER_PR: "${{ github.event_name == 'workflow_dispatch' && inputs.max_merges_per_pr || 30 }}"
