name: "Commit"
# This is an unpriviledged job with no Azure/AWS auth which is suitable for
# running on arbitrary PRs authored by anyone, even people we've yet to trust.

on:
  pull_request:

# If the user commits something, then quickly commits something else,
# cancel the earlier job so only one runs.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Does the absolute bare minimum to run `x test tidy`, so the author can get fast feedback.
  # Does not cancel other jobs if it fails.
  tidy:
    name: "Tidy"
    runs-on: ubuntu-24.04
    continue-on-error: true
    timeout-minutes: 10
    steps:
      - name: Checkout (shallow)
        uses: actions/checkout@v4

      - name: Unshallow the clone if on the beta channel
        run: ferrocene/ci/scripts/unshallow-on-beta.sh

      - name: Clone only necessary submodules
        run: ferrocene/ci/scripts/checkout-submodules.sh library/backtrace src/doc/reference src/doc/book src/tools/cargo src/tools/rustc-perf

      # FIXME: Do this better somehow
      - name: Install llvm 20
        run: |
          wget https://apt.llvm.org/llvm.sh -O /tmp/llvm.sh
          chmod +x /tmp/llvm.sh
          sudo /tmp/llvm.sh 20

      - name: Run tidy
        run: ferrocene/ci/run.sh
        env:
          FERROCENE_UNPRIVILEGED_CI: 1
          FERROCENE_HOST: x86_64-unknown-linux-gnu
          SCRIPT: ./x test tidy

  # Job dedicated to running quick checks for each commit pushed in open
  # PRs and personal branches. The job must balance providing quick feedback
  # and providing useful feedback, focusing on catching the most common errors
  # as soon as possible.
  #
  # It's fine if this job only runs a small subset of the test suite: the full
  # test suite for all the supported targets will be run when bors tries to
  # merge the PR anyway.
  checks:
    name: "Checks"
    runs-on: ubuntu-24.04
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unshallow the clone if on the beta channel
        run: ferrocene/ci/scripts/unshallow-on-beta.sh

      - name: Setup
        uses: ./.github/actions/setup/
        with:
          llvm-subset: 'true'
          # We call this later with `INSTALL_LLVM` and `SKIP_UPGRADE` set for speed
          build-dependencies: 'false'

      - name: Check whether all of our Python scripts use uv
        run: ferrocene/ci/scripts/require-uv-shebang.py

      - name: Check whether git conflict markers are present
        run: ferrocene/ci/scripts/detect-conflict-markers.py

      - name: Check whether any of our Cargo patches are unused
        run: ferrocene/ci/scripts/detect-unused-cargo-patches.py

      - name: Check whether src/stage0 is up to date
        run: ferrocene/ci/scripts/fix-stage0-branch.py --check

      - name: Perform licensing checks
        run: uvx reuse --include-submodules lint

      - name: Setup Ubuntu
        run: ferrocene/ci/scripts/setup-ubuntu.sh
        env:
          INSTALL_LLVM: 1

      - name: Install licensing tool
        run: uv tool install reuse@5.1.1

      # We deliberately avoid using docker containers as that would require either adding
      # a couple minutes to the build, or doing auth/trust related things that would impact
      # the experience for new contributors. (eg. not being able to run external contributor tests)
      - name: Execute the build
        run: ferrocene/ci/run.sh
        env:
          FERROCENE_CUSTOM_LLVM: /usr/lib/llvm-20
          FERROCENE_HOST: x86_64-unknown-linux-gnu
          SCRIPT: |
            set -e
            ./x check rustc
            ./x run ferrocene/tools/traceability-matrix
            ./x test collect-license-metadata
          # Commit checks cannot authenticate with our AWS environment. Disable the parts of CI that
          # rely on that (for example including document signatures).
          FERROCENE_UNPRIVILEGED_CI: 1
