# SPDX-License-Identifier: MIT OR Apache-2.0
# SPDX-FileCopyrightText: The Ferrocene Developers

---

name: Docs to GitHub Pages
on:
  push:
    branches: [main]

permissions:
  # Clone the source code
  contents: read
  # Publish GitHub pages
  pages: write
  # Allow obtaining the OIDC token required for AWS authentication and GitHub
  # Pages publishing.
  id-token: write

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url  }}

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-tomli

      - name: Load AWS credentials into the environment
        run: ferrocene/ci/scripts/assume-aws-oidc-role.sh
        env:
          AWS_ROLE_ARN: ${{ vars.AWS_ROLE_ARN }}

      - name: Prepare documentation site
        run: ferrocene/ci/scripts/prepare-docs-to-github-pages.py
        id: prepare
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload GitHub Pages contents
        uses: actions/upload-pages-artifact@v1
        with:
          path: ${{ steps.prepare.outputs.dir }}

      - name: Deploy GitHub Pages
        uses: actions/deploy-pages@v1
        id: deployment
