name: Build host
run-name: Build (${{inputs.host-triple}})

defaults:
  run:
    shell: bash

on:
  workflow_call:
    inputs:
      host-triple:
        type: string
        description: The Rust triple of the host platform
      triples:
        type: string
        description: A comma separated list of targets to build
      runner:
        type: string
        description: The GitHub Runner to run the rust build on
      use-minio:
        type: boolean
        default: false
        description: If minIO should be used (otherwise, S3 is used)
      container:
        type: string
        description: The container URI to run the build in, if any (Linux only)
      artifacts-bucket:
        type: string
        description: The artifact bucket
      artifacts-prefix:
        type: string
        description: The artifact prefix
      cache-bucket:
        type: string
        description: The cache bucket
      cache-prefix:
        type: string
        description: The cache prefix
      environment:
        type: string
    outputs:
      run-id:
        description: The id of the workflow run
        value: ${{ github.run_id }}

env:
  ARTIFACTS_BUCKET: ${{ inputs.artifacts-bucket }}
  ARTIFACTS_PREFIX: ${{ inputs.artifacts-prefix }}
  CACHE_BUCKET: ${{ inputs.cache-bucket }}
  CACHE_PREFIX: ${{ inputs.cache-prefix }}

jobs:
  build:
    runs-on: ${{ inputs.runner }}
    environment: ${{ inputs.environment }}
    env:
      ARTIFACT: build-${{inputs.host-triple}}
      FERROCENE_HOST: ${{ inputs.host-triple }}
      FERROCENE_TARGETS: ${{ inputs.triples }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup
        uses: ./.github/actions/setup/
        with:
          build-dependencies: false

      - name: Configure AWS & MinIO (if applicable)
        uses: ./.github/actions/aws-config/
        if: ${{ inputs.use-minio == true }}
        with:
          aws-role-arn: ${{ (github.ref == 'refs/heads/staging') && secrets.AWS_OIDC_GHA_ARN_STAGING || secrets.AWS_OIDC_GHA_ARN_TRYING }}
          minio-endpoint-url: ${{ secrets.CACHE_ENDPOINT_URL }}
          minio-access-key-id: ${{ secrets.CACHE_ACCESS_KEY_ID }}
          minio-secret-access_key: ${{ secrets.CACHE_SECRET_ACCESS_KEY }}

      # Github Actions only issues a token valid for 5 minutes, this official AWS action seems to have a workaround for that, so we're currently using it.
      #
      # Also, if you use this it sets `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY`, `AWS_SESSION_TOKEN`, etc which breaks using minio.
      #
      # Honestly, it's horrible. We'd be very interested in not using it, and instead using AWS via the `.github/actions/aws-config/` action.
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        if: ${{ inputs.use-minio == false }}
        with:
          aws-region: us-east-1
          role-to-assume: ${{ github.ref == 'refs/heads/staging' && secrets.AWS_OIDC_GHA_ARN_STAGING || secrets.AWS_OIDC_GHA_ARN_TRYING }}
          role-duration-seconds: 7200

      - name: Get LLVM cache
        shell: bash
        env:
          AWS_PROFILE: ${{ inputs.use-minio == true && 'minio' || ''}}
        run: |
          if [ -z "${AWS_CA_BUNDLE}" ]; then
            unset AWS_CA_BUNDLE
          fi

          uv run ferrocene/ci/scripts/llvm_cache.py download --url s3://${{ inputs.cache-bucket }}/${{ inputs.cache-prefix }}llvm-cache/${{ needs.llvm.outputs.name }}

      - name: Run
        uses: ./.github/actions/run/
        with:
          container: ${{ inputs.container }}
          script: |
            uv run x.py --stage 2 build library src/tools/rustdoc
            uv run x.py --stage 1 build src/tools/rustdoc

      - name: Build cache upload
        shell: bash
        env:
          AWS_PROFILE: ${{ inputs.use-minio == true && 'minio' || ''}}
        run: |
          if [ -z "${AWS_CA_BUNDLE}" ]; then
            unset AWS_CA_BUNDLE
          fi

          uv run ./ferrocene/ci/scripts/build_cache.py pre-upload
          uv run ./ferrocene/ci/scripts/cache.py store "s3://${{ inputs.cache-bucket }}/${{ inputs.cache-prefix }}persist-between-jobs/${{ github.run_id }}/${{ env.ARTIFACT }}" ./build
