name: "Full"

on:
  push:
    branches:
      - trying
      - staging

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

# One job per branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}


jobs:
  x86_64-unknown-linux-gnu:
    uses: ./.github/workflows/host-platform.yml
    secrets: inherit
    with:
      host-triple: x86_64-unknown-linux-gnu
      self-test-triples: ""
      test: true
      runner: ubuntu-latest
      environment: ferrocene-ci

  x86_64-pc-windows-msvc:
    uses: ./.github/workflows/host-platform.yml
    secrets: inherit
    with:
      host-triple: x86_64-pc-windows-msvc
      self-test-triples: ""
      test: true
      runner: windows-latest
      environment: ferrocene-ci